#home-faqs {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--default-side-padding);
  gap: 30px;
  .faq-container {
    display: flex;
    width: 100%;
    gap: 50px;
    .faq {
      margin-top: 5vh;
      .faq-heading {
        @media only screen and (min-width: 1000px) and (max-width: 1600px) {
          min-height: 10vh;
        }
        @media only screen and (min-width: 900px) and (max-width: 1000px) {
          min-height: 15vh;
        }
      }
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 50%;
    }
  }
  @media only screen and (max-width: 900px) {
    & {
      height: fit-content;
      padding: 5vh var(--default-side-padding);
      .faq-container {
        flex-direction: column;
        gap: 40px;
        .faq {
          .faq-heading {
            min-height: auto;
          }
          width: 100%;
          gap: 20px;
        }
      }
    }
  }
}
