#home-hero-banner {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  .img-container {
    filter: drop-shadow(var(--landing-drop-shadow));
    position: absolute;
    width: 900px;
    aspect-ratio: 1;
    z-index: 1;
    img {
      object-fit: contain;
    }
  }
  .hero-banner-heading {
    z-index: 2;
  }
  @media only screen and (max-width: 900px) {
    & {
      height: 50vh;
    }
    .img-container {
      width: 100%;
    }
  }
}
