.home-about {
  height: 80vh;
  background-color: var(--bg-color-violet);
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  .about-img-container {
    position: absolute;
    height: 90%;
    width: 50%;
    left: 75%;
    .about-img {
      object-fit: cover;
      filter: hue-rotate(-300deg) saturate(5) opacity(0.75);
    }
  }
  .about-info-container {
    width: 60%;
    padding-left: 5vw;
    color: var(--font-color);
    .about-header {
      font-size: 4rem;
      @include header-font;

      word-spacing: 10px;
    }
    .about-info {
      font-size: var(--font-size);
      margin-bottom: 6vh;
      text-align: justify;
    }
    .about-cards-container {
      display: flex;
      justify-content: space-between;
      .about-cards {
        border: 2px solid var(--bg-color-blue);
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(68, 99, 238, 0.25);
        svg {
          font-size: 3.5rem;
        }
        .card-text {
          margin-top: 2vh;
        }
      }
    }
  }
  @media only screen and (max-width: 1200px) {
    .about-img-container {
      .about-img {
        object-fit: contain;
      }
    }
    .about-info-container {
      padding-left: 0;
      z-index: 1;
      width: 80%;
      margin: 0 auto;
      .about-cards-container {
        display: flex;
        justify-content: space-between;
        text-align: center;
        .about-cards {
          padding: 10px;
          svg {
            font-size: 3rem;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 800px) {
    .about-info-container {
      width: 90%;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 600px) {
    --font-size: 1rem;
    height: fit-content;
    padding: 4vh 0;
    .about-img-container {
      height: 100%;
      width: 100%;
      left: 45%;
      top: 30vh;
    }
    .about-info-container {
      .about-header {
        font-size: 2rem;
      }
      .about-cards-container {
        flex-direction: column;
        .about-cards {
          margin-top: 2vh;
          backdrop-filter: blur(5px);
        }
      }
    }
  }
}
