#how-footer {
  display: block;
  height: 5vh;
  width: fit-content;
  margin: auto;
  margin-top: 5vh;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  word-spacing: 5px;
  span {
    margin-left: 5px;
    text-decoration: underline;
    text-underline-offset: 5px;
    width: 500px;
    transition: var(--transition-default);
  }
  &:hover {
    span {
      opacity: 0.5;
    }
  }
  @media only screen and (max-width: 900px) {
    font-size: 1rem;
    margin-bottom: 2vh;
    text-align: center;
    width: auto;
    span {
      width: auto;
      display: block;
      margin-left: 0;
    }
  }
}
