.page-heading-sec {
  background-color: var(--color-four);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .bg-img-container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation-name: grow;
    animation-duration: 0.75s;
    animation-timing-function: linear;

    .bg-img {
      object-fit: contain;
      filter: hue-rotate(222deg) saturate(1.5);
    }
    @keyframes grow {
      0% {
        height: 50%;
        width: 50%;
      }
      100% {
        width: 100%;
        height: 100%;
      }
    }
  }
  .main {
    z-index: 1;
    animation-name: shrink;
    animation-duration: 0.75s;
    text-align: center;
    animation-timing-function: linear;
    @keyframes shrink {
      0% {
        scale: 1.5;
      }
      100% {
        scale: 1;
      }
    }
    .company-heading {
      color: var(--color-one);
      @include header-font;
      text-transform: uppercase;
      word-spacing: 0.5em;
    }
  }
}
