.form-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  .form {
    z-index: 0;
    display: flex;
    width: 70%;
    border: 1px solid var(--color-font-dark);
    .form-img-container {
      width: 50%;
      aspect-ratio: 1;
      .form-img {
        object-fit: cover;
      }
    }
    #reg-form {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 3em;
      justify-content: center;
      background-color: var(--color-primary-light);
      .form-heading {
        color: var(--color-primary-dark);
        font-size: 2vw;
        margin-bottom: 2vh;
      }
      .label-text {
        font-size: 1rem;
        margin-bottom: 5px;
        margin-top: 2vh;
        font-weight: 400;
        color: var(--color-primary-dark);
        width: fit-content;
      }
    }
    input {
      background-color: transparent;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      border: 1px solid var(--color-primary-dark);
      caret-color: var(--color-primary-dark);
      font-size: 1rem;
      transition: all 0.3s ease;
      font-weight: 400;
      color: black;
      &::placeholder {
        font-size: 0.85rem;
        color: var(--placeholder-color);
      }
      &:focus {
        outline: none;
        color: var(--color-primary-dark);
      }

      &[type="checkbox"] {
        margin-right: 0.5em;
      }
    }
    .checkbox {
      display: flex;
      margin: 2vh 0;
      font-size: 1.25rem;
      span {
        color: var(--color-font-dark);
      }
    }
    .reg-btn {
      font-size: 1rem;
      background-color: var(--color-primary);
      border: none;
      cursor: pointer;
      width: fit-content;
      padding: 0.75em 2.5em;
      font-weight: 700;
      color: var(--color-font-default);
      margin-top: 4vh;
      transition: all 0.3s ease;
      border-radius: 5px;
      &:hover {
        scale: 1.1;
      }
      &:active {
        scale: 0.9;
      }
    }
    @media only screen and (max-width: 900px) {
      flex-direction: column;
      align-items: center;
      width: 80%;
      .form-img-container {
        width: 100%;
      }
      #reg-form {
        width: 100%;
        .form-heading {
          font-size: 5vw;
        }
      }
    }
    @media only screen and (max-width: 400px) {
      flex-direction: column;
      align-items: center;
      width: 90%;
      .form-img-container {
        width: 100%;
      }
      #reg-form {
        padding: 15px 25px;
        width: 100%;
        .form-heading {
          font-size: 6.5vw;
        }
      }
    }
  }
}
