@import "./register-form";
.register-container {
  overflow: hidden;
  .form-body {
    padding: 10vh 0;
    background: linear-gradient(to top, var(--five), var(--one));
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
