@import "./event-card";
.event-cards-container {
  background: linear-gradient(to top, var(--five), var(--one));
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 10vh 0;
  row-gap: 4vh;
}
