@import "./event-card";

.event-cards-container {
  background-color: var(--bg-color-purple-light);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10vh 0;
  row-gap: 4vh;
}
