#events-hero-banner {
  --link-text-size: 1.6rem;

  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .img-container {
    position: absolute;
    height: 100%;
    width: 100%;
    filter: drop-shadow(var(--landing-drop-shadow));
    z-index: 1;
    img {
      object-fit: cover;
    }
  }

  .hero-banner-heading {
    font-size: 10vw;
    z-index: 2;
    color: var(--font-color);
  }
  .navigation-container {
    display: flex;
    position: relative;
    animation: fade-link-text 1s linear 0s normal forwards,
      view-div 1s linear 1s normal forwards;
    .nav-link {
      text-decoration: none;
      font-size: var(--link-text-size);
      width: fit-content;
      text-align: center;
      transition: var(--transition-default);
      padding: 0 1.5rem;
      span {
        width: fit-content;
        display: grid;
        place-items: center;
        height: 100%;
        &:hover {
          opacity: 0.4;
        }
      }
      &:first-child {
        border-right: 2px solid var(--color-font-default);
      }
      &:nth-of-type(2) {
        border-right: 2px solid var(--color-font-default);
      }
    }

    @keyframes fade-link-text {
      0% {
        opacity: 0;
        scale: 0.5;
      }
      100% {
        opacity: 0;
        scale: 1;
      }
    }
    @keyframes view-div {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  @media only screen and (max-width: 900px) {
    --link-text-size: 1.2rem;
    & {
      height: 50vh;
    }
    .img-container {
      width: 100%;
    }
    .hero-banner-heading {
      z-index: 2;
      font-size: 9vw;
      text-align: center;
    }
    .navigation-container {
      margin-top: 4vh;
    }
  }
  @media only screen and (max-width: 500px) {
    .navigation-container {
      display: grid;
      width: 90%;
      grid-template-columns: repeat(2, 1fr);
      .nav-link {
        width: 100%;
        &:nth-of-type(2) {
          border-right: none;
        }
        &:last-child {
          grid-column: -3 / -1;
          margin-top: 1vh;
        }
        span {
          width: 100%;
        }
      }
    }
  }
}
