* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--common-font);
}

.img-container {
  position: relative;
  img {
    position: relative;
    height: 100%;
    width: 100%;
  }
}

@mixin header-font {
  font-family: var(--header-font);
  letter-spacing: 2px;
  word-spacing: 5px;
  font-weight: 400;
}
