@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap");

:root {
  --header-height: 150px;
  --footer-height: 800px;
  --font-size: 1.4rem;

  --font-color: white;

  --color-one: black;
  --placeholder-color: #222222a7;
  --color-two: white;
  --color-three: #001bcf;
  --color-four: #e8e8e8;
  --label-color: rgb(181, 250, 255);
  --common-font: "Inter", sans-serif;
  --header-font: "Monoton", cursive;
  --barcode-font: "Libre Barcode 39", cursive;
  --card-shadow: 5px 5px 10px 4.5px rgba(0, 0, 0, 0.4);

  --transition-values: all 0.5s ease;
  --card-detail-anim: all 0.5s ease;
  --card-lag-values: all 1s ease 0.5s;
  --std-trans: all 0.25s ease;
}
