@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap");

:root {
  --header-height: 150px;
  --footer-height: 800px;
  --font-size: 1.4rem;

  --font-color: white;
  --bg-color-purple: #480ca8;
  --bg-color-purple-light: #560bad;
  --bg-color-violet: #7209b7;
  --bg-color-pink: #b5179e;
  --glass-color: rgba(54, 54, 54, 0.25);
  --bg-color-blue: #4361ee;
  --card-shadow: 5px 5px 10px 4.5px rgba(0, 0, 0, 0.4);
  --label-color: rgb(181, 250, 255);
  --placeholder-color: #d4d4d46a;
  --common-font: "Inter", sans-serif;
  --header-font: "Monoton", cursive;
  --barcode-font: "Libre Barcode 39", cursive;

  --transition-values: all 0.5s ease;
  --card-detail-anim: all 0.5s ease;
  --card-lag-values: all 1s ease 0.5s;
  --std-trans: all 0.25s ease;
}
